@model string
@{
    ViewData["Title"] = "Error Page";
}
<style>
    .white-page {
        background-color: white;
    }
    .center {
        margin: 0 auto;
    }
</style>
<body class="white-page">
    <div class="text-center">
        <h1 class="display-4">Error Occurred!!!</h1>
    </div>
    <table class="center">
    <tr>
        <th><img src="https://th.bing.com/th/id/R.26a2a6bff7fc8b6811a0152b5bfc499a?rik=0vly5uSk9e4j7A&riu=http%3a%2f%2fclipart-library.com%2fdata_images%2f87105.jpg&ehk=46i0pdFtAno8Nsgo%2bZAk1hDkAu9lAT7r2WueCOxaGcM%3d&risl=&pid=ImgRaw&r=0" style="height:550px;width=700"></th>
    
    </tr><br>
 
</table>
</body>
